<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="./views/style.css" />
    <title>ToDo</title>
  </head>
  <body>
    <div>
      <h2>Welcome to your Todo List!</h2>
    </div>
    <div>
      <form action="/add" method="post">
        <input type="text" name="todo" placeholder="Todo" />
        <button type="submit" class="add">Add Todo</button>
      </form>
    </div>

    <div>
      {{range . }}
      <div>
        <h3>
          {{.ID}}. {{.Todostr}}
          <button
            onclick="window.location.href='/delete/{{.ID}}';"
            class="done"
          >
            Done</button
          >-
          <button
            onclick="window.location.href='/update/{{.ID}}/{{.Todostr}}';"
            class="update"
          >
            Update
          </button>
        </h3>
      </div>
      {{end}}
    </div>
  </body>
</html>
