<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>ToDo</title>
  </head>
  <body>
    <div>
      <h2>Welcome to your Todo List!</h2>
    </div>
    <div>
      <form action="/add" method="post">
        <input type="text" name="todo" />
        <button type="submit">Add Todo</button>
      </form>
    </div>
    <div>
      {{range . }}
      <div>
        <h3>
          {{.ID}}. {{.Todostr}} <a href="/delete/{{.ID}}">Done</a>-
          <a href="/update/{{.ID}}/{{.Todostr}}">Update</a>
        </h3>
      </div>
      {{end}}
    </div>
  </body>
</html>
